* {
  font-family: JetBrains Mono;
  font-size: 14px;
  min-height: 0px;
}

#waybar {
  background: transparent;
  color: @text;
}

.module {
   padding: 0 0.5rem 0 0.5rem; 
   background-color: @surface0;
}
#workspaces {
   border-radius: 0.5em;
   padding: 0 0 0 0; 
   margin: 0 0 0 0.5rem;
}

#window {
   border-radius: 0.5em;
   transition-duration: .5s;
}

#pulseaudio.microphone {
}

#cpu {
   border-radius: 0.5rem 0 0 0.5rem;
}

#workspaces button {
  color: @lavender;
  font-family: Computer Modern;
  border-radius: 0.5rem;
  padding: 0em;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#wireplumber,
#custom-lock,
#microphone,
#date,
#time,
#workspaces
#network


#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#network {
  color: @sky;
}

#speaker {
  color: @green;
}
#pulseaudio.microphone {
  color: @green;
}

#tray {
}

#clock {
   padding: 0 0.6rem 0 0.4rem; 
   border-radius: 0 0.5rem 0.5rem 0;
}

#battery {
  color: @green;
  padding: 0 0.8rem 0 0.4rem; 
}
